java-stack/Java Spring/BookClub/.elasticbeanstalk/app_versions/app-250612_093049031572.zip
java-stack/Java Spring/BookClub/.elasticbeanstalk/app_versions/app-250612_093223227815.zip
java-stack/Java Spring/BookClub/.elasticbeanstalk/app_versions/app-250612_093638419492.zip
java-stack/Java Spring/BookClub/.elasticbeanstalk/app_versions/app-250612_095608546846-stage-250612_095608546846.zip
java-stack/Java Spring/BookClub/.elasticbeanstalk/app_versions/app-250612_100513526639.zip
java-stack/Java Spring/BookClub/.elasticbeanstalk/app_versions/app-250612_101254396328.zip
java-stack/Java Spring/BookClub/.elasticbeanstalk/config.yml
java-stack/Java Spring/BookClub/pom.xml
java-stack/Java Spring/BookClub/src/main/resources/application.properties
java-stack/Java Spring/BookClub/.elasticbeanstalk/app_versions/app-250612_094914898317-stage-250612_094914898317.zip
# Ignore Python bytecode and cache
*.pyc
__pycache__/
# Ignore virtual environments (if any)
venv/
.env/
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/