body {
    margin: 0 auto;
    padding: 0;
    width: 50%;
}

.all {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40%;
    margin-top: -55%;
}

.box {
    width: 550px;
    height: 195px;
    margin-top: 100px;
    margin-left: -30px;
    margin-bottom: -80px;
    border: 2px solid #333;   
    background-color: #fff;   
}

.nav-title {
    color: whitesmoke;
    background-color: black;
    padding: 10px;
    margin-top: auto;
}

.User {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}

.likes {
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: 500;
    margin-left: 330px;
    margin-top: -50px;
    font-size: 20px;
}

.btn {
    position: relative;
    font-weight: 500;
    margin-left: 440px;
    top: -40px;
    width: 80px;
    height: 30px;
    font-size: 30px;
    color: black;
    box-shadow: 2px 2px 5px black;
    background-color: #fed966;
    border: 3px solid black;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.box-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-top: 7px;
    margin-left: 30px;
    max-height: 1px;
}

.pf-box {
    position: relative;
    top: -31px;
    width: 300px;
    height: 400px;
    margin-top: 100px;
    border: 2px solid #333;   
    background-color: #fff; 

}

img {
    width: 120px;
    margin-left: 80px;
    margin-top: 60px;


}

.avatar-link {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(46, 137, 255);
    top: 40px;
    font-size: 25px;
    margin-left: 22%;
}

.name {
    position: relative;
    top: 50px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 22%;

}

.feed {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

a {
    color: rgb(46, 137, 255);
}