body {
    padding: 0px;
    margin: 0px;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: #9fc5f8;
    max-height: 250px;
    padding: 15px;


}

.nav-title {
    color: white;
    display: flex;
    align-items: center;
    margin-left:15%;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 50px;


}

.nav-links, a {
    font-size: 40px;
    list-style: none;
    display: flex;
    gap: 100px;
    align-items: center;
    margin-left: auto;
    margin-right: 15%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;

}
.body-weather {
    display: flex;
    width: 1070px;
    justify-content: space-around;
}

.header {
    display: flex;
    justify-content: space-around;
}

.location {
    margin-left: 15.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    margin-right: 150px;

}

.temp-text {
    margin-left: 45%;
    margin-top: 40px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.temps-menu {
    width: 40px;
    height: 40px;
}